.menu {
    background-color: #252525;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-width: 300px;
    width: 20vw;
    min-width: 200px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
}

.menu-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}